name: flutter_bugsnag
description: A bugsnag reporter for flutter projects.
version: 0.1.0-nullsafety.0
homepage: https://github.com/pheedloop/flutter_bugsnag

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.1
  package_info: ^2.0.0
  device_info: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.2

flutter:
